.notification-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    // font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.notification-comment {
    background-color: #6a9f5b;
    &:hover {
        background-color: #588a4a;
    }
}

.notification-postlike {
    background-color: #3b82c4;
    &:hover {
        background-color: #336ba3;
    }
}

.notification-commentlike {
    background-color: #3b82c4;
    &:hover {
        background-color: #336ba3;
    }
}

.notification-reply {
    background-color: #f5b748;
    &:hover {
        background-color: #d99a38;
    }
}

.notification-follow {
    background-color: #d16060;
    &:hover {
        background-color: #b54848;
    }
}

.notification-time {
    font-size: 0.9em;
    color: #ccc;
}

.notification-list {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.notification-end {
    padding: 10px;
    text-align: center;
    color: #999;
}