@import "reset.css";
#login

.main {
    display: flex;
    align-items: center;
}

.logo {
    width: 70%;
    /* 로고 영역의 너비를 조정합니다. */
}

/* App.css */
.login-info-container {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.login-info {
    font-size: 15px;
    width: auto;
    color: #666;
    font-weight: bold;
    margin-left: 10px;
    align-content: center;
    display: inline-block;
    white-space: nowrap;
}

.checkbox-container {
    display: inline-block;
    align-items: center;
}

.login {
    font-family: 'Inter';
    width: 100%;
    /* 로그인 영역의 너비를 조정합니다. */
    margin-bottom: 50px;
    /* 로그인 영역 아래 여백을 추가합니다. */
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.login-checkbox {
    font-size: 15px;
    margin-top: 10px;
}

form {
    width: 80%;
    /* 폼 영역의 너비를 조정합니다. */

}

form>div {
    margin-bottom: 10px;
    /* 각 입력 요소 아래 여백을 추가합니다. */
}

label {
    display: block;
    /* 라벨을 블록 요소로 설정하여 새로운 줄에서 시작합니다. */
}

.email-input,
.password-input {
    /* 입력 필드의 너비를 조정합니다. */
    margin-top: 2px;
    /* 입력 필드 위 여백을 추가합니다. */
    height: 20px;
    display: flex;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 10px;
    padding-left: 20px;
}

input[type="checkbox"] {
    width: 100%;
    /* 입력 필드의 너비를 조정합니다. */
}

.kakaoImg {
    padding-right: 10px;
    align-items: center;
}

.googleImg {
    padding-right: 15px;
    align-items: center;
}

.login-btn {
    background-color: #3D85EC;
    width: 100%;
    border: 0px;
    border-radius: 12px;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.login-btn:hover {
    background-color: #2b5b9d;
    width: 100%;
    border: 0px;
    border-radius: 12px;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
}

.kakao-btn {
    background-color: #FEE500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    width: 80%;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.kakao-btn:hover {
    background-color: #f1d555;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.main-bottom {
    justify-content: center;
}

.google-btn {
    background-color: #FFFFFF;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.google-btn:hover {
    background-color: #dbdbdb;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
}

.find-btn,
.signUp-btn {
    border: 0px;
    background-color: #FFFFFF;
}

.find-btn:hover,
.signUp-btn:hover {
    border: 0px;
    background-color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}

div:last-child {
  margin-top: 20px; /* 마지막 div 요소의 위 여백을 추가합니다. */
}