@import "reset.css";

.main {
  display: flex;
  align-items: center;
}

.logo {
  width: 70%; /* 로고 영역의 너비를 조정합니다. */
}

.login {
  width: 30%; /* 로그인 영역의 너비를 조정합니다. */
  margin-bottom: 20px; /* 로그인 영역 아래 여백을 추가합니다. */
}

form {
  width: 70%; /* 폼 영역의 너비를 조정합니다. */
  height: 300px; /* 폼 영역의 높이를 조정합니다. */
}

form > div {
  margin-bottom: 10px; /* 각 입력 요소 아래 여백을 추가합니다. */
}

label {
  display: block; /* 라벨을 블록 요소로 설정하여 새로운 줄에서 시작합니다. */
}

input[type="email"],
input[type="password"],
input[type="checkbox"] {
  width: 100%; /* 입력 필드의 너비를 조정합니다. */
  margin-top: 5px; /* 입력 필드 위 여백을 추가합니다. */
}

button {
  width: 100%; /* 버튼의 너비를 조정합니다. */
  margin-top: 10px; /* 버튼 위 여백을 추가합니다. */
}

button:nth-of-type(1) {
  margin-right: 5px; /* 첫 번째 버튼의 오른쪽 여백을 추가합니다. */
}

button:nth-of-type(2) {
  margin-left: 5px; /* 두 번째 버튼의 왼쪽
   여백을 추가합니다. */
}

div:last-child {
  margin-top: 20px; /* 마지막 div 요소의 위 여백을 추가합니다. */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

