
  .chat-container {
    top: 50px;
    left: 0px;
    width: 100%;
    height: 70%;
    position: absolute;

  }
  .chatcontent-frame {
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
  }

  .mychat-container {
    height: 50px;
    position: relative;

    // width: 100%;
  }
  .mychat-rectangle,
  .otherchat-rectangle {
    top: 0px;
    right: 0px;
    padding: 0 10px;
    // width: 600px;
    height: 45px;
    position: absolute;
    border-radius: 20px;
    background-color: #8D95FF;

  }
  .mychat-text {
    top: 15px;
    right: 5px;
    color: rgba(0, 0, 0, 1);

    // position: absolute;
    font-size: 17px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
  }

  .mychat-time {
    top: 30px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
  }
  .otherchat-container {
    left: 10px;
    height: 50px;
    position: relative;
    margin-top: 15px;
    // border: 3px solid red;
  }
  .otherchat-rectangle {
    left: 0px;
    background-color: #C4C8FC;
  }
  .otherchat-nickname {
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: -13px;
    font-size: 17px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
  }
  .otherchat-body {
    top: 15px;
    left: 3px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    font-size: 17px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
  }
  .otherchat-time {
    top: 30px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
  }
  
  .top-window {
    top: 31px;
    left: 20px;
    width: 458.7217102050781px;
    height: 67px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .close-button {
    top: -15px;
    left: 410px;
    width: 23px;
    height: 23px;
    position: absolute;

  }
  .frame-line {
    top: 55px;
    left: 0px;
    width: 440px;
    height: 1px;
    position: absolute;
    background-color: #404df2;
  }
  .top-period {
    top: 20px;
    left: 3px;
    color: rgba(156, 142, 245, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .top-title {
    top: -10px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 600;
  }
  .members-icon {
    top: 10px;
    left: 260px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .top-nickname {
    top: 20px;
    left: 300px;
    position: absolute;
    font-size: 18px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    color: #828282;
  }
  .send-window {
    top: 590px;
    left: 0px;
    width: 470px;
    height: 79px;
    position: relative;
    background-color: #EEEEEE;
    border-color: rgba(64, 77, 242, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 20px 20px;
  }
  .send-text {
    top: 620px;
    left: 32px;
    width: 300px;
    color: rgba(152, 152, 152, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    border: none;
    background-color: #EEEEEE;
  }
  .send-button {
    top: 610px;
    left: 343px;
    color: rgba(255, 255, 255, 1);
    width: 100px;
    height: 40px;
    background-color: rgba(64, 77, 242, 1);
    border: none;
    border-radius: 15px;
    position: absolute;
    font-size: 16px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
  }