.comment-con {//O
    width: 434px;
    height: 120px;
    display: flex;
    background-color: rgb(235, 228, 228);
    overflow: auto;
    margin: 10px 0;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .comment-frame {//O
    top: 14px;
    left: 19px;
    width: 398.3599853515625px;
    height: 86px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .comment-more-img {//O
    top: 2px;
    left: 383px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .comment-writer {//O
    top: 0px;
    left: 12px;
    width: 103.4000015258789px;
    height: 35.84000015258789px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .comment-writer-nickname {//O
    top: 9.920312881469727px;
    left: 44.39999771118164px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14.40000057220459px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .comment-content {//O
    top: 44px;
    left: 24px;
    color: rgba(0, 0, 0, 1);
    width: 350px;
    height: auto;
    position: absolute;
    font-size: 14.40000057220459px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .comment-content-time {//O
    top: 75px;
    right: 0px;
    color: rgba(123, 123, 123, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .comment-drop{
    height: 20px;
  }
  .comment-like {//O
    top: 2px;
    left: 350px;
    width: 40px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border: none;
    background-color: rgb(235, 228, 228);
  }
  .comment-reply {//O
    top: 2px;
    left: 310px;
    width: 40px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border: none;
    background-color: rgb(235, 228, 228);

  }
  .comment-save {//O
    top: 0px;
    left: 330px;
    width: 35x;
    height: 23px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .comment-edit-save{
    background-color: #727272;
    color: #fff;
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    font-style: Medium;
    font-family: Inter;
    font-weight: 400;
    border: none;
    border-radius: 5px;
  }
  .comment-like-text {//O
    left: 14.883855819702148px;
    color: rgba(0, 0, 0, 1);
    width: 16px;
    height: auto;
    position: absolute;
    font-size: 11.340129852294922px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .comment-like-img {//O
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .comment-writer-profileimg {//O
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
  }
  .reply-container{
    margin-top: 0px;
    margin-left: 10%;
    width: 100%;
    height: 100%;
  }
  .report-comment {
    position: absolute;
    left: 75%;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 340px;
    padding: 10px; 
    border: 1px solid rgb(53, 53, 53);
    border-radius: 10px;
  }

  .create-reply-con {//O
    width: 420px;
    height: 90px;
    display: flex;
    background-color: rgb(255, 255, 255);
    // overflow: auto;
    margin: 7px 0;
    flex-direction: column;
    border: 2px solid rgb(134, 165, 144);
    border-radius: 10px;
  }
  .create-reply-frame {//O
    top: 12px;
    left: 10px;
    width: 340px;
    height: 86px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .create-reply-writer {//O
    top: 6px;
    left: 12px;
    width: 103px;
    height: 35px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .create-reply-writer-profileimg {//O
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
  }
  .create-reply-writer-nickname {//O
    top: 45px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14.5px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
  }
  .create-reply-content {//O
    top: 13px;
    margin-left: 80px;
    color: rgba(0, 0, 0, 1);
    width: 300px;
    height: auto;
    position: absolute;
    font-size: 14.40000057220459px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
  }

  .create-reply-save {//O
    top: 46px;
    left: 260px;
    width: 35x;
    height: 23px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .create-reply-edit-save, 
  .create-reply-edit-save2{
    background-color: rgb(134, 165, 144);
    color: #fff;
    width: 60px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    font-style: Medium;
    font-family: Inter;
    font-weight: 400;
    border: none;
    border-radius: 5px;
  }

  .create-reply-edit-save2{
    margin-left: 10px;
    background-color: rgb(152, 151, 144);
  }
  .create-reply-post-text {//O
    color: rgba(152, 152, 152, 1);
    width: 290px;
    height: 20px;
    position: absolute;
    font-size: 13px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    border: 1px solid #ccc;
  }