  .dailypost-frame {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0 0;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 1;
  }
  .dailypost-frame1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 89%;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(64, 77, 242, 1);
    border-style: solid;
    border-width: 1px 0;
  }
  .dailypost-post1-history {
    top: 65px;
    width: 100%;
    height: 60%;
    display: flex;
    position: absolute;
    // align-items: flex-start;
    // flex-shrink: 1;
  }
  .dailypost-image {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 9;
    object-fit: cover;
  }
  .dailypost-frame2 {
    top: 446px;
    left: 3px;
    width: 98%;
    height: 18%;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .dailypost-text {
    top: 88px;
    left: 5px;
    color: rgba(105, 105, 105, 1);
    width: 100%;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Extra Bold;
    text-align: flex-start;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dailypost-text02 {
    top: 1px;
    left: 349px;
    color: rgba(231, 17, 30, 1);
    width: 34px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .dailypost-text04 {
    top: 39px;
    left: 1px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;

  }
  .dailypost-text08 {
    left: 1px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dailypost-frame3 {
    top: 8px;
    width: 100%;
    height: 45.72159957885742px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .dailypost-frame4 {
    top: 0px;
    left: 0px;
    width: 177px;
    height: 45.72159957885742px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .dailypost-profileimage {
    top: -4px;
    left: 0px;
    width: 47px;
    height: 47px;
    position: absolute;
    border-radius: 18px;
    object-fit: cover;
    object-position: center;
  }
  .dailypost-text10 {
    top: 9px;
    left: 58px;
    color: rgba(0, 0, 0, 1);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dailypost-menubutton {
    top: 8px;
    left: 365px;
    width: 24px;
    height: 24px;
    position: absolute;
  }
  .dailypost-text12 {
    top: 10px;
    left: 310px;
    color: rgba(0, 0, 0, 1);
    width: 50px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    border: none;
  }
  .dailypost-daily-pin-filled {
    top: 4px;
    left: 270px;
    width: 30px;
    height: 32px;
    position: absolute;
  }
  .dailypost-group99 {
    top: 560px;
    width: 100%;
    height: 10%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-shrink: 1;
  }
  .dailypost-frame5 {
    top: 0px;
    left: 230px;
    width: 150px;
    height: 45px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-shrink: 1;
    background-color: rgba(64, 77, 242, 1);
    border-radius: 20px; /* 10px 둥근 경계 적용 */
    border: none;
  }
  .dailypost-text14 {
    top: 12px;  
    left: 17px;
    color: rgba(255, 255, 255, 1);
    width: 116px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dailypost-frame6 {
    top: 9px;
    left: 90px;
    width: 21.25px;
    height: 21.25px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border: none;
  }
  .dailypost-vector {
    top: 0px;
    left: 0px;
    width: 21px;
    height: 21px;
    position: absolute;
  }
  .dailypost-vector1 {
    top: 0px;
    left: 8.75px;
    width: 12px;
    height: 12px;
    position: absolute;
  }
  .dailypost-frame7 {
    top: 7px;
    left: 25px;
    width: 61.15132141113281px;
    height: 25px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .dailypost-svg {
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    position: absolute;
  }
  .dailypost-text16 {
    top: 2px;
    left: 20px;
    color: rgba(28, 27, 31, 1);
    width: 41px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

.report-con {
  position: absolute;
  top: 7%;
  left: 20%;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  width: 270px;
  height: 340px;
  padding: 10px; 
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px;
  overflow: auto;
}
.report-frame { //O
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 30px; 
  padding-left: 10px;
}
.close { //O
  top: 10px;
  left: 220px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.report-title {//O
  color: rgba(0, 0, 0, 1);
  width: 80%;
  height: auto;
  margin-top: 20px;
  align-items: center;
  font-size: 18px;
  font-style: Regular;
  font-family: Inter;
  font-weight: 400;
}
.report-input {//O
  color: rgba(0, 0, 0, 1);
  width: 200px;
  height: 70px;
  margin-left: 5px;
  align-items: center;
}
.report-save {//O
  top: 280px;  
  right: 2px;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 30px;
  position: absolute;
  font-size: 17px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  background-color: rgb(213, 37, 37);
  border: none;
  border-radius: 15px;
}
.report-img {//O
  top: 25px;
  left: 89px;
  width: 20px;
  height: 20px;
  position: absolute;
}
