.findIDPW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.nav-findIDPW {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.btn-findEmail,
.btn-findPW {
    display: flex;
    color: #8e8e8e;
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
    border: 0px;
    background-color: white;
    transition: color 0.3s ease;
}

.btn-findEmail:hover,
.btn-findPW:hover {
    color: #404df2;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.btn-findEmail.active,
.btn-findPW.active {
    color: #404df2;
}

.horizontal-line {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.btm-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.find-password-input {
    border: 1px solid #8e8e8e;
    border-radius: 12px;
    width: 500px;
    height: 40px;
    margin: 10px 0;
    padding-left: 20px;
}

.btn-send {
    display: flex;
    color: #404df2;
    background-color: white;
    font-size: 15px;
    margin: 10px;
    font-weight: bold;
    border: 1px solid #828282;
    width: 20%;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease; // transition 추가
}

.btn-send:hover {
    background-color: #404df2;
    color: white;
}

.btn-final {
    display: flex;
    color: white;
    background-color: #404df2;
    font-size: 15px;
    margin: 10px;
    font-weight: bold;
    border: 1px solid #404df2;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease; // transition 추가
}

.btn-final:hover {
    background-color: white;
    color: #404df2;
    border: 1px solid #404df2;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}