.findIDPW{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.nav-findIDPW{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

.btn-findEmail{
    display: flex;
    color: #8E8E8E;
    font-size : 30px;
    margin : 10px;
    font-weight: bold;
    border : 0px;
    background-color: white;
}

.btn-findEmail:hover {
    display: flex;
    color: #404DF2;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    border: 0px;
    background-color: white;
}

.btn-findPW {
    display: flex;
    color: #8E8E8E;
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
    border: 0px;
    background-color: white;
}

.btn-findPW:hover {
    display: flex;
    color: #404DF2;
    font-size: 30px;
    border: 0px;
    margin: 10px;
    font-weight: bold;
    background-color: white;
}

.btn-findPW:active {
    display: flex;
    color: #404DF2;
    font-size: 30px;
    border: 0px;
    margin: 10px;
    font-weight: bold;
    background-color: white;
}

.horizontal-line {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-wrapper{
    display: flex;
    align-items: center;
    width : 100%;
}

.btm-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.find-password-input{
    border: 1px solid #8E8E8E;
    border-radius: 12px;
    width: 500px;
    height: 40px;
    margin: 10px 0;
    align-items: left;
    padding-bottom: 2px;
    padding-left : 20px;
}

.btn-send{
    display: flex;
    color: #404DF2;
    background-color: white;
    font-size: 15px;
    margin: 10px;
    font-weight : bold;
    border: 1px solid #828282;
    width: 20%;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}


.btn-final{
    display: flex;
    color: white;
    background-color: #404DF2;
    font-size: 15px;
    margin: 10px;
    font-weight : bold;
    border: 1px solid #404DF2;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    justify-content: center;
    align-items: cente\r;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}