.history-con { //O
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .history-icon {
    margin-right: 10px;
    width: 120px;
    position: fixed;
    top:0px;
}

.more-img {
  margin-right: 10px;
    width: 30px;
    height: 30px;
    opacity: 0.20;
    cursor: pointer;
    position: fixed;
    top: 15px; /* 원하는 위치 */
    right: 45px; /* 원하는 위치 */
}

.close-img {
  margin-right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: fixed;
    top: 16px; /* 원하는 위치 */
    right: 10px; /* 원하는 위치 */
}
  .history-frame { //O
    top: -10px;
    left: 0px;
    width: 90%;
    height: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
  }
  .intro-createAt {//O
    margin-top: 5px;
    margin-left: 10px;
    color: rgba(142, 142, 142, 1);
    font-size: 13px;
    font-style: Medium;
    font-family: Inter;
    font-weight: 500;
  }
  .intro-follow {//O
    margin-left: 10px;
    width: 50px;
    height: auto;
    font-size: 12px;
    font-style: Bold;
    font-family: Inter;
    font-weight: 700;
    border: none;
  }
  .intro-writer {//O
    top: 116px;
    left: 88px;
    width: 500px;
    height: 35.2px;
    display: flex;
    position: absolute;
    align-items: center;
  }
  .intro-writer-profileimg {//O
    left: 0px;
    width: 36px;
    height: 36px;
  }
  .profileimg {//O
    width: 36px;
    height: 36px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    border: 1px solid #ccc;
  }
  .intro-writer-nickname {//O
    margin-left: 10px;
    color: rgba(0, 0, 0, 1);
    font-size: 17px;
    font-style: Regular;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
  }
 

  .frame-hashtag {//O
    width: 200px;
    height: 20px;
    display: flex;
    position: absolute;
  }
  .frame-hashtag-text {//O
    color: rgba(169, 169, 169, 1);
    position: absolute;
    font-size: 15px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
  }
  .intro-postType {//O
    top: 53px;
    left: 84px;
    color: rgba(48, 176, 3, 1);
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .intro-title {//O
    top: 77px;
    left: 88px;
    color: rgba(0, 0, 0, 1);
    width: 90%;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
  }
  .frame-content {//O
    top: 164px;
    left: 20px;
    color: rgba(0, 0, 0, 1);
    width: 730px;
    align-content: center;
    height: auto;
    position: relative;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .frame-like-and-comment {
    position: relative;
  }
  .frame-like {//O
    top: 10px;
    left: 0px;
    width: 51px;
    height: 20px;
    position: absolute;
  }
  .frame-comment {//O
    top: 10px;
    left: 50px;
    width: 51px;
    height: 20px;
    display: flex;
    position: absolute;
  }
  .frame-like-img {//O
    top: 2px;
    left: 0px;
    width: 20px;
    height: 17px;
    position: absolute;
  }
  .frame-like-text {//O
    left: 16.807029724121094px;
    color: rgba(28, 27, 31, 1);
    width: 27px;
    height: auto;
    position: absolute;
    font-size: 21.600000381469727px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
  }
.comment-container{
  margin-top: 28%;
  margin-left: 10%;
  width: 60%;
  height: auto;
}

.intro-thumbnail {
  margin-left: 175px;
  position: relative;
  margin-bottom: 15px;
}

.intro-thumbnail-text {
  margin-left: 30px;
  display: block; /* span을 블록 요소로 만들어서 아래 요소들이 줄 바꿈 되도록 함 */
}

.image-container {
  margin-top: 10px; /* 이미지와 input 사이의 간격 조정 */
}

.thumbnail-img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  display: block; /* 이미지를 블록 요소로 만들어서 줄 바꿈 되도록 함 */
}
.intro-title-input{
  width: 75%;
  border: 1.5px solid #ccc;
  border-radius: 10px;
}
.edit-save {
  margin-top: -5px;
  margin-right: 55px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  background-color: rgb(90, 99, 219);
  border-radius: 20px; /* 10px 둥근 경계 적용 */
  top: 16px; /* 원하는 위치 */
  right: 10px; /* 원하는 위치 */
  border: none;
}
.edit-save-text {
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 600;
}


.comment-post-con {//O
  margin-top: 2%;
  width: 434px;
  height: 120px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border: 2px solid  rgb(97, 157, 116);
  border-radius: 10px;
}

.comment-post-frame {//O
  top: 10px;
  left: 32px;
  width: 91px;
  height: 35.20000076293945px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.comment-post-writer {//O
  top: 11px;
  left: 48px;
  width: 43px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.comment-post-writer-nickname {//O
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14.40000057220459px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comment-post-writer-profileimg {//O
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 10px;
}
.comment-post-save {//O
  top: 87px;
  left: 340px;
  width: 60px;
  height: 25px;
  position: absolute;
  background-color: rgb(97, 157, 116);
  border: 1px solid #ccc;
  border-radius: 10px;
}
.comment-post-save-text {//O
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 14px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
}
.comment-post-text {//O
  top: 57px;
  left: 50px;
  color: rgba(152, 152, 152, 1);
  width: 350px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  border: 1px solid #ccc;
}


