  .floating-history-comment-floating-history-comment { //O
    width: 100%;
    height: 2700px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .floating-history-comment-history-floating-window-expanded-comment { //O
    top: 0px;
    left: 0px;
    width: 750px;
    height: 2700px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .floating-history-comment-frame {//O
    top: 1642px;
    left: 183px;
    width: 150px;
    height: 18px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-text {//O
    color: rgba(169, 169, 169, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-text002 {//O
    left: 43px;
    color: rgba(169, 169, 169, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-text004 {//O
    left: 99px;
    color: rgba(169, 169, 169, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-frame01 {//O
    top: 1804px;
    left: 183px;
    width: 434px;
    height: 114px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(214, 214, 214, 1);
    border-radius: 10px;

  }
  .floating-history-comment-frame02 {//O
    top: 14px;
    left: 19px;
    width: 398.3599853515625px;
    height: 86px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-image {//O
    top: 2px;
    left: 383px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .floating-history-comment-frame03 {//O
    top: 0px;
    left: 12px;
    width: 103.4000015258789px;
    height: 35.84000015258789px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-text006 {//O
    top: 9.920312881469727px;
    left: 44.39999771118164px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14.40000057220459px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-text008 {//O
    top: 44px;
    left: 12px;
    color: rgba(0, 0, 0, 1);
    width: 279px;
    height: auto;
    position: absolute;
    font-size: 14.40000057220459px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-text010 {//O
    top: 71px;
    color: rgba(123, 123, 123, 1);
    width: 153px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-frame04 {//O
    top: 0px;
    left: 340px;
    width: 31.18510627746582px;
    height: 14.466865539550781px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-text012 {//O
    left: 14.883855819702148px;
    color: rgba(0, 0, 0, 1);
    width: 16px;
    height: auto;
    position: absolute;
    font-size: 11.340129852294922px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-hearts1 {//O
    top: 1.7090744972229004px;
    left: 0px;
    width: 13px;
    height: 13px;
    position: absolute;
  }
  .floating-history-comment-frame08 {//O
    top: 31px;
    left: 363px;
    width: 51px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-frame09 {//O
    top: 32px;
    left: 0px;
    width: 51px;
    height: 34px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .floating-history-comment-text024 {//O
    top: 11px;
    left: 8px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 10px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-frame10 {//O
    top: 0px;
    left: 0px;
    width: 51px;
    height: 34px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .floating-history-comment-text026 {//O
    top: 11px;
    left: 6px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 10px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-frame12 {//O
    top: 17px;
    left: 12px;
    width: 381.3599853515625px;
    height: 83px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    
  }
  .floating-history-comment-image2 {//O
    top: 0px;
    left: 366px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .floating-history-comment-text028 {//O
    top: 41px;
    left: 12px;
    color: rgba(0, 0, 0, 1);
    width: 279px;
    height: auto;
    position: absolute;
    font-size: 14.40000057220459px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-text030 {//O
    top: 68px;
    color: rgba(123, 123, 123, 1);
    width: 153px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-frame13 {//O
    top: 0px;
    left: 12px;
    width: 91px;
    height: 35.20000076293945px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-text032 {//O
    top: 11px;
    left: 48px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14.40000057220459px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-freeiconuser1490711 {//O
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    position: absolute;
  }
  .floating-history-comment-frame14 {//O
    top: 18px;
    left: 346px;
    width: 31.190000534057617px;
    height: 13.470000267028809px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-image3 {//O
    top: 0.21547049283981323px;
    left: 4.547473508864641e-13px;
    width: 13px;
    height: 13px;
    position: absolute;
  }
  .floating-history-comment-text034 {//O
    left: 14.88614273071289px;
    color: rgba(0, 0, 0, 1);
    width: 16px;
    height: auto;
    position: absolute;
    font-size: 10.97599983215332px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-frame19 {//O
    top: 1928px;
    left: 207px;
    width: 410px;
    height: 114px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 10px;

  }
  .floating-history-comment-group45 {//O
    top: 2437px;
    left: 183px;
    width: 434px;
    height: 183px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-rectangle39 {//O
    top: 0px;
    left: 0px;
    width: 434px;
    height: 183px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    background-color: #BDC2FF;
    border-radius: 10px;
  }
  .floating-history-comment-group36 {//O
    top: 21px;
    left: 32px;
    width: 91px;
    height: 35.20000076293945px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-group27 {//O
    top: 11px;
    left: 48px;
    width: 43px;
    height: 17px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-text059 {//O
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14.40000057220459px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-freeiconuser14907112 {//O
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    position: absolute;
  }
  .floating-history-comment-rectangle40 {//O
    top: 68px;
    left: 31px;
    width: 372px;
    height: 92px;
    position: absolute;
    border-radius: 20px;
    background-color: #fff;
    border-radius: 10px;

  }
  .floating-history-comment-frame25 {//O
    top: 131px;
    left: 340px;
    width: 51.660888671875px;
    height: 19.711240768432617px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(130, 130, 130, 1);
  }
  .floating-history-comment-text061 {//O
    top: 4.491206169128418px;
    left: 11.016557693481445px;
    color: rgba(255, 255, 255, 1);
    width: 30px;
    height: auto;
    position: absolute;
    font-size: 7.884496212005615px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-text063 {//O
    top: 88px;
    left: 50px;
    color: rgba(152, 152, 152, 1);
    width: 316px;
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-text065 {//O
    top: 53px;
    left: 84px;
    color: rgba(48, 176, 3, 1);
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-x11 { //O
    top: 16px;
    left: 761.0001220703125px;
    width: 25px;
    height: 25px;
    position: absolute;
  }
  .floating-history-comment-text067 {//O
    top: 72px;
    left: 88px;
    color: rgba(0, 0, 0, 1);
    width: 423px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-image-history-image {//O
    top: 233px;
    left: 183px;
    width: 434px;
    height: 579px;
    position: absolute;
  }
  .floating-history-comment-text069 {//O
    top: 164px;
    left: 183px;
    color: rgba(0, 0, 0, 1);
    width: 434px;
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-text097 {//O
    top: 1620px;
    left: 181px;
    color: rgba(0, 0, 0, 1);
    width: 434px;
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-frame26 {//O
    top: 1745.900390625px;
    left: 196.3643798828125px;
    width: 51.600341796875px;
    height: 20.399999618530273px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-svg {//O
    top: 1.3195314407348633px;
    left: 0px;
    width: 20px;
    height: 17px;
    position: absolute;
  }
  .floating-history-comment-text107 {//O
    left: 16.807029724121094px;
    color: rgba(28, 27, 31, 1);
    width: 35px;
    height: auto;
    position: absolute;
    font-size: 21.600000381469727px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-frame27 {//O
    top: 1744.7001953125px;
    left: 255.164306640625px;
    width: 48.114837646484375px;
    height: 20.653202056884766px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-text109 {//O
    top: 1.907349087559851e-7px;
    left: 9.600003242492676px;
    color: rgba(28, 27, 31, 1);
    width: 39px;
    height: auto;
    position: absolute;
    font-size: 21.600000381469727px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-comment {//O
    top: 1.3195314407348633px;
    left: 0.00000534057608092553px;
    width: 19.200000762939453px;
    height: 19.200000762939453px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-vector { //O
    top: 0px;
    left: 0px;
    width: 19px;
    height: 19px;
    position: absolute;
  }
  .floating-history-comment-text112 {//O
    top: 127px;
    left: 199px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-text114 {//O
    top: 125px;
    left: 290px;
    color: rgba(0, 0, 0, 1);
    width: 42px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-frame28 {//O
    top: 116px;
    left: 88px;
    width: 104px;
    height: 35.20000076293945px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-frame29 {//O
    top: 0px;
    left: 0px;
    width: 35.20000076293945px;
    height: 35.20000076293945px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .floating-history-comment-freeiconuser14907114 {//O
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 10px;
  }
  .floating-history-comment-text116 {//O
    top: 11px;
    left: 45px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14.40000057220459px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .floating-history-comment-freeiconmenu83733991 {//O
    top: 74px;
    left: 602px;
    width: 30px;
    height: 30px;
    opacity: 0.20;
    position: absolute;
  }
  