

.initial-main-page-frame {
  
    width: 393px;
    height: 686px;
    display: flex;
    position: relative;
  }
  .initial-main-page-text {
    color: rgba(64, 77, 242, 1);
    width: 213px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-post1-history {
    top: 546.9000244140625px;
    left: -1px;
    width: 393.29998779296875px;
    height: 139.5px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .initial-main-page-image {
    top: 0px;
    left: 0px;
    width: 393px;
    height: 139px;
    position: absolute;
  
    border-radius: 10.8px;
  }
  
  .initial-main-page-image1 {
    top: 8px;
    left: 20px;
    width: 360px;
    height: 61px;
    position: absolute;
    border-radius: 10.8px;
    background: linear-gradient(96.34deg, rgba(255, 255, 255, 0.5) 3.99%, rgba(255, 255, 255, 0.15) 95.85%);
  
    backdrop-filter: blur(27px);
  }
  .initial-main-page-daily-pin-filled {
    top: 18.999998092651367px;
    left: 130px;
    width: 30px;
    height: 31px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .initial-main-page-frame01 {
    top: 22.0000057220459px;
    left: 38px;
    width: 339px;
    height: 38px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .initial-main-page-text02 {
    color: rgba(28, 27, 31, 1);
    width: 121px;
    height: auto;
    position: absolute;
    font-size: 20.485986709594727px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-text04 {
    top: 20px;
    left: 248px;
    color: rgba(68, 66, 74, 1);
    width: 91px;
    height: auto;
    position: absolute;
    font-size: 10.799999237060547px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-text06 {
    top: 50px;
    left: 38px;
    color: rgba(89, 89, 89, 1);
    width: 87px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Anek Kannada;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-history-pin-filled {
    top: 15.0999755859375px;
    left: 130px;
    width: 31px;
    height: 31px;
    position: absolute;
  }
  .initial-main-page-frame02 {
    top: 23.0999755859375px;
    left: 283px;
    width: 43.000282287597656px;
    height: 17px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .initial-main-page-svg {
    top: 1.0999755859375px;
    left: 0px;
    width: 17px;
    height: 15px;
    position: absolute;
  }
  .initial-main-page-text08 {
    left: 14.005859375px;
    color: rgba(28, 27, 31, 1);
    width: 29px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-frame03 {
    top: 22.0999755859375px;
    left: 333px;
    width: 40.095699310302734px;
    height: 17.211000442504883px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .initial-main-page-text10 {
    left: 8px;
    color: rgba(28, 27, 31, 1);
    width: 32px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-comment {
    top: 1.0999755859375px;
    left: 0px;
    width: 16px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  
   