.other-user-text {
  color: rgba(64, 77, 242, 1);
  font-size: 27px;
  font-weight: bold;
  margin-left: 20px; /* 이미지 너비만큼 왼쪽으로 이동 */
}

.other-user-profileimage {
  width: 50px;
  height: 50px;
  border-radius: 20%; /* 원형 이미지로 만들기 */
  object-fit: cover;
}

.other-user-button {
  background-color: rgb(173, 178, 255);
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  margin: 20px 0 0 10px;
  transform: translateY(-50%);
}

.info-button:hover {
  background-color: rgba(64, 77, 242, 0.8); /* 호버 효과 */
}


.initial-main-page-frame {
    margin-left: 80px;
    width: 420px;
    height: 650px;
    position: relative;
    margin-bottom: 5%;

  }
  .initial-main-page-text {
    margin: 5px 0 0 10px;
    color: rgba(64, 77, 242, 1);
    width: 300px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    background-color: #fff;
  }
  .initial-main-page-post1-history {
    top: 546.9000244140625px;
    left: -1px;
    width: 393.29998779296875px;
    height: 139.5px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .initial-main-page-image {
    top: 0px;
    left: 0px;
    width: 393px;
    height: 139px;
    position: absolute;
  
    border-radius: 10.8px;
  }
  
  .initial-main-page-image1 {
    top: 8px;
    left: 20px;
    width: 360px;
    height: 61px;
    position: absolute;
    border-radius: 10.8px;
    background: linear-gradient(96.34deg, rgba(255, 255, 255, 0.5) 3.99%, rgba(255, 255, 255, 0.15) 95.85%);
  
    backdrop-filter: blur(27px);
  }
  .initial-main-page-daily-pin-filled {
    top: 18.999998092651367px;
    left: 130px;
    width: 30px;
    height: 31px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .initial-main-page-frame01 {
    top: 22.0000057220459px;
    left: 38px;
    width: 339px;
    height: 38px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .initial-main-page-text02 {
    color: rgba(28, 27, 31, 1);
    width: 121px;
    height: auto;
    position: absolute;
    font-size: 20.485986709594727px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-text04 {
    top: 20px;
    left: 248px;
    color: rgba(68, 66, 74, 1);
    width: 91px;
    height: auto;
    position: absolute;
    font-size: 10.799999237060547px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-text06 {
    top: 50px;
    left: 38px;
    color: rgba(89, 89, 89, 1);
    width: 87px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Anek Kannada;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-history-pin-filled {
    top: 15.0999755859375px;
    left: 130px;
    width: 31px;
    height: 31px;
    position: absolute;
  }
  .initial-main-page-frame02 {
    top: 23.0999755859375px;
    left: 283px;
    width: 43.000282287597656px;
    height: 17px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .initial-main-page-svg {
    top: 1.0999755859375px;
    left: 0px;
    width: 17px;
    height: 15px;
    position: absolute;
  }
  .initial-main-page-text08 {
    left: 14.005859375px;
    color: rgba(28, 27, 31, 1);
    width: 29px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-frame03 {
    top: 22.0999755859375px;
    left: 333px;
    width: 40.095699310302734px;
    height: 17.211000442504883px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .initial-main-page-text10 {
    left: 8px;
    color: rgba(28, 27, 31, 1);
    width: 32px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .initial-main-page-comment {
    top: 1.0999755859375px;
    left: 0px;
    width: 16px;
    height: 16px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  
  .list-con{
    border: 1px solid #ccc;
    overflow: auto;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }


  .frame4-container {
    width: 100%;
    display: flex;
    overflow: auto;
    margin: 0 0 10px;
    align-items: center;
    flex-direction: column;
  }
  .frame4-frame4 {
    width: 393px;
    height: 139px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 10.800000190734863px;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame4-frame4-active {
    width: 393px;
    height: 139px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border: 1.5px solid rgb(96, 96, 96);
    border-radius: 10.800000190734863px;
    background-color: rgb(226, 231, 243);
  }
  .frame4-post1full {
    left: 13px;
    bottom: 10px;
    width: 363px;
    height: 114px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame4-image {
    top: 0px;
    left: 230px;
    width: 133px;
    height: 110px;
    position: absolute;
    border-radius: 10.799999237060547px;
    object-fit: cover;
    object-position: center;
  }
  .frame4-frame {
    bottom: 1px;
    width: 296px;
    height: 110.3359375px;
    display: flex;
    position: absolute;
  }
  .frame4-frame1 {
    top: 60px;
    left: 8px;
    width: 49.15132141113281px;
    height: 22.820899963378906px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame4-frame2 {
    top: 87px;
    left: 9px;
    width: 49.15132141113281px;
    height: 22.820899963378906px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame4-text {
    left: 8px;
    color: rgba(28, 27, 31, 1);
    width: 41px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame4-svg {
    top: 3px;
    left: 0px;
    width: 16px;
    height: 15px;
    position: absolute;
  }
  .frame4-profileimage {
    top: 0.3359375px;
    left: 0px;
    width: 47px;
    height: 49px;
    position: absolute;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }
  .frame4-text02 {
    top: 95px;
    left: 58px;
    color: rgba(68, 66, 74, 1);
    width: 238px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame4-text02-daily {
    top: 95px;
    left: 10px;
    color: rgb(203, 99, 85);
    width: 238px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame4-text04 {
    top: 28px;
    left: 58.095703125px;
    color: rgba(89, 89, 89, 1);
    width: 87px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Anek Kannada;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame4-text06 {
    top: 55px;
    left: 58px;
    color: rgba(62, 62, 62, 1);
    width: 160px;
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Regular;
    text-align: left;
    font-family: Anek Kannada;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame4-daily-pin-filled {
    top: 0px;
    left: 180px;
    width: 30px;
    height: 31px;
    position: absolute;
  }
  .frame4-text08 {
    top: 4.521484375px;
    left: 57px;
    color: rgba(28, 27, 31, 1);
    width: 125px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text-ellipsis1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .text-ellipsis2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; // 두 줄까지 표시
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .historyPost-con {
    position: absolute;
    margin-bottom: 50%;
    margin-left: 20%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    width: 820px;
    height: 500px;
    padding: 20px; 
    border: 1px solid black;
    border-radius: 10px;
    overflow: auto;
}
  .dailypost-frame8 {
    top: 10px;
    margin-left: 88%;
    width: 20px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border: none;
    background-color: #fff;

  }
  .dailypost-vector3 {
    top: 0px;
    left: 5px;
    width: 25px;
    height: 20px;
    position: absolute;
    border: none;
    background-color: #fff;
  }

  .linkto-mymap {
    top: 720px;
    left: 30%;
    color: rgba(64, 77, 242, 1);
    width: 138px;
    height: 30px;
    position: absolute;
    font-size: 20px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    background-color: rgb(246, 250, 255);
    border-color: rgba(64, 77, 242, 1);
    border-radius: 15px;
  }

  .map-header-button {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.refresh-button {
    border: none;
    background-color: #fff;
    margin-right: 10px;
}

.research-button {
    width: 150px;
    height: 30px;
    background-color: rgb(101, 177, 111);
    border: 1px solid #ccc;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    margin-right: 20px;
}

.pin-buttons {
    display: inline-block;
    margin-left: 120px;
    // align-items: end;
}

.basic-button {
    border: none;
    background-color: #fff;
    margin-right: 10px;
}
.no-post-img{
  position: absolute;
  left: calc(50% - 35px);
  top: 20%;
  width: 60px;
  height: 60px;

}
.no-post-text{
  position: absolute;
  left: calc(50% - 60px);
  top: 35%;
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  margin-right: 20px;
}