.group98-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .group98-group98 {
    width: 1045px;
    height: 789px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-frame {
    top: 0px;
    left: 212px;
    width: 456px;
    height: 52px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 10px;
  }
  .group98-image {
    top: 0px;
    left: 0px;
    width: 650px;
    height: 52px;
    position: absolute;
    border-color: rgba(64, 77, 242, 0.800000011920929);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
  }
  .group98-text {
    top: 13px;
    left: 247px;
    color: rgba(163, 167, 214, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-frame1 {
    top: 11px;
    left: 190px;
    width: 28px;
    height: 32px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .group98-ellipse2 {
    top: 0px;
    left: 0px;
    width: 23px;
    height: 25px;
    position: absolute;
    border-color: rgba(64, 77, 242, 1);
    border-style: solid;
    border-width: 5px;
  }
  .group98-line1 {
    top: 20px;
    left: 16.5830078125px;
    width: 16px;
    height: 1px;
    position: absolute;
  }
  .group98-frame2 {
    top: 8px;
    left: 19px;
    width: 142px;
    height: 35px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .group98-svg {
    top: 0px;
    left: 0px;
    width: 142px;
    height: 35px;
    position: absolute;
  }
  .group98-svg01 {
    top: 31px;
    left: 135.375px;
    width: 25px;
    height: 30px;
    position: absolute;
  }
  .group98-text02 {
    top: 7px;
    left: 29px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-frame-profile {
    top: 164px;
    left: 12px;
    width: 592px;
    height: 142px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-history-post1 {
    top: 0px;
    left: 0px;
    width: 592px;
    height: 142px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(236, 238, 255, 1);
  }
  .group98-group3 {
    top: 18px;
    left: 209px;
    width: 198px;
    height: 53px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-group4 {
    top: 0px;
    left: 0px;
    width: 198px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-text04 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text06 {
    top: 35px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-image1 {
    top: 19px;
    left: 26px;
    width: 129px;
    height: 104px;
    position: absolute;
    border-radius: 3px;
  }
  .group98-post {
    top: 81px;
    left: 203px;
    width: 279px;
    height: 36px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .group98-svg02 {
    top: 26px;
    left: 188px;
    width: 19px;
    height: 1px;
    position: absolute;
  }
  .group98-text08 {
    top: 8px;
    left: 201px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text10 {
    top: 9px;
    left: 131px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text12 {
    top: 9px;
    left: 48px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-profileimage {
    top: 0px;
    left: 0px;
    width: 37px;
    height: 36px;
    position: absolute;
    border-radius: 20px;
  }
  .group98-svg03 {
    top: 26px;
    left: 119px;
    width: 19px;
    height: 1px;
    position: absolute;
  }
  .group98-frame-profile1 {
    top: 325px;
    left: 12px;
    width: 592px;
    height: 142px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-history-post11 {
    top: 0px;
    left: 0px;
    width: 592px;
    height: 142px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(236, 238, 255, 1);
  }
  .group98-history-post12 {
    top: 0px;
    left: 0px;
    width: 592px;
    height: 142px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(236, 238, 255, 1);
  }
  .group98-group31 {
    top: 18px;
    left: 209px;
    width: 198px;
    height: 53px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-group41 {
    top: 0px;
    left: 0px;
    width: 198px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-text14 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text16 {
    top: 35px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-image11 {
    top: 19px;
    left: 26px;
    width: 129px;
    height: 104px;
    position: absolute;
    border-radius: 3px;
  }
  .group98-post1 {
    top: 81px;
    left: 203px;
    width: 279px;
    height: 36px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .group98-svg04 {
    top: 26px;
    left: 188px;
    width: 19px;
    height: 1px;
    position: absolute;
  }
  .group98-text18 {
    top: 8px;
    left: 201px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text20 {
    top: 9px;
    left: 131px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text22 {
    top: 9px;
    left: 48px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-profileimage1 {
    top: 0px;
    left: 0px;
    width: 37px;
    height: 36px;
    position: absolute;
    border-radius: 20px;
  }
  .group98-svg05 {
    top: 26px;
    left: 119px;
    width: 19px;
    height: 1px;
    position: absolute;
  }
  .group98-frame-profile2 {
    top: 486px;
    left: 12px;
    width: 592px;
    height: 142px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-history-post13 {
    top: 0px;
    left: 0px;
    width: 592px;
    height: 142px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(236, 238, 255, 1);
  }
  .group98-group32 {
    top: 18px;
    left: 209px;
    width: 198px;
    height: 53px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-group42 {
    top: 0px;
    left: 0px;
    width: 198px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-text24 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text26 {
    top: 35px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-image12 {
    top: 19px;
    left: 26px;
    width: 129px;
    height: 104px;
    position: absolute;
    border-radius: 3px;
  }
  .group98-post2 {
    top: 81px;
    left: 203px;
    width: 279px;
    height: 36px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .group98-svg06 {
    top: 26px;
    left: 188px;
    width: 19px;
    height: 1px;
    position: absolute;
  }
  .group98-text28 {
    top: 8px;
    left: 201px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text30 {
    top: 9px;
    left: 131px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text32 {
    top: 9px;
    left: 48px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-profileimage2 {
    top: 0px;
    left: 0px;
    width: 37px;
    height: 36px;
    position: absolute;
    border-radius: 20px;
  }
  .group98-svg07 {
    top: 26px;
    left: 119px;
    width: 19px;
    height: 1px;
    position: absolute;
  }
  .group98-frame-profile3 {
    top: 647px;
    left: 12px;
    width: 592px;
    height: 142px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-history-post14 {
    top: 0px;
    left: 0px;
    width: 592px;
    height: 142px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(236, 238, 255, 1);
  }
  .group98-history-post15 {
    top: 0px;
    left: 0px;
    width: 592px;
    height: 142px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(236, 238, 255, 1);
  }
  .group98-group33 {
    top: 18px;
    left: 209px;
    width: 198px;
    height: 53px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-group43 {
    top: 0px;
    left: 0px;
    width: 198px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-text34 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text36 {
    top: 35px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-image13 {
    top: 19px;
    left: 26px;
    width: 129px;
    height: 104px;
    position: absolute;
    border-radius: 3px;
  }
  .group98-post3 {
    top: 81px;
    left: 203px;
    width: 279px;
    height: 36px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .group98-svg08 {
    top: 26px;
    left: 188px;
    width: 19px;
    height: 1px;
    position: absolute;
  }
  .group98-text38 {
    top: 8px;
    left: 201px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text40 {
    top: 9px;
    left: 131px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text42 {
    top: 9px;
    left: 48px;
    color: rgba(142, 142, 142, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-profileimage3 {
    top: 0px;
    left: 0px;
    width: 37px;
    height: 36px;
    position: absolute;
    border-radius: 20px;
  }
  .group98-svg09 {
    top: 26px;
    left: 119px;
    width: 19px;
    height: 1px;
    position: absolute;
  }
  .group98-text44 {
    top: 109px;
    color: rgba(64, 77, 242, 1);
    width: 160px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-group77 {
    top: 133px;
    left: 749px;
    width: 296px;
    height: 606px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group98-image1 {
    top: 33px;
    left: 9px;
    width: 287px;
    height: 233px;
    position: absolute;
    border-color: rgba(105, 105, 105, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
  }
  .group98-text46 {
    left: 1px;
    color: rgba(64, 77, 242, 1);
    width: 188px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text47 {
    color: rgba(64, 77, 242, 1);
  }
  .group98-text49 {
    top: 338px;
    color: rgba(64, 77, 242, 1);
    width: 188px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group98-text50 {
    color: rgba(64, 77, 242, 1);
  }
  .group98-basemapimage {
    top: 373px;
    left: 9px;
    width: 287px;
    height: 233px;
    position: absolute;
    border-color: rgba(151, 148, 146, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 18px;
  }
  