// _upload.scss
.upload-title{
    font-size: 20px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
}
.upload-address{
    font-size: 17px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
}
.upload-map{
    color: #fff;
    background-color: rgb(129, 205, 201);
    // overflow: auto;
    padding: 5px;
    flex-direction: column;
    border: none;
    border-radius: 10px;
}
.upload-time-button{
    color: #fff;
    background-color: rgb(205, 129, 129);
    // overflow: auto;
    padding: 5px;
    flex-direction: column;
    border: none;
    border-radius: 10px;
}
.upload-map-div{
    margin-left: -680px;

}
.upload-refresh-button{
    border: none;
    background-color: #fff;
    // margin-left: -920px;
    // position: absolute;
}
.upload-refresh-button2{
    border: none;
    background-color: #fff;
    margin-left: -920px;
    // position: absolute;
}
#button {
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

// 선택된 버튼의 스타일
.selected {
    font-weight: bold;
}

.save {
    @extend #button;
    background-color: #6972eb; /* 저장 버튼 배경색 */
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
        background-color: #404df2; /* 저장 버튼 호버 배경색 */
    }
}

.daily {
    @extend #button;
    width: 80px;
    background-color: #f0ccc5; /* 데일리 버튼 배경색 */
    &:hover, &.selected { /* 선택된 상태일 때도 호버 색상 유지 */
        background-color: #FF5733; /* 데일리 버튼 호버 배경색 */
    }
}

.history {
    @extend #button;
    width: 80px;
    background-color: #cae3ca; /* 히스토리 버튼 배경색 */
    &:hover, &.selected { /* 선택된 상태일 때도 호버 색상 유지 */
        background-color: #4CAF50; /* 히스토리 버튼 호버 배경색 */
    }
}
.today {
    border: none;
    color: white;
    background-color: #7b83f1;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
}
.tomorrow {
    border: none;
    color:  #7b83f1;
    background-color: #ffffff;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}